{block content}
<div>
    <h2>Facebook</h2>
    <hr>
    <aside>
	<h3>Page plugin</h3>
        {control facebookPage}
    </aside>
    <section class="share">
        <div>
	    <h3>Share</h3>
	    {control facebookShare}
	</div>
        <div>
	    <h3>Like</h3>
	    {control facebookLike}
	</div>
        <div>
	    <h3>Follow</h3>
	    {control facebookFollow}
	</div>
        <div>
	    <h3>Send</h3>
	    {control facebookSend}
	</div>
        <div>
	    <h3>Comments</h3>
	    {control facebookComments}
	</div>
    </section>
</div>
{/block}