{block content}
<div>
    <h2>Google</h2>
    <hr>
    <aside>
	<h3>Page plugin</h3>
        {control googlePage}
    </aside>
    <section class="share">
        <div>
	    <h3>Plus</h3>
	    {control googlePlus}
	</div>
        <div>
	    <h3>Follow</h3>
	    {control googleFollow}
	</div>
        <div>
	    <h3>Share</h3>
	    {control googleShare}
	</div>
    </section>
</div>
{/block}