<div class="fb-follow" data-href="{$link}" n:attr='data-colorscheme => $scheme,data-kid-directed-site => $kid_directed,data-width => $width,data-height => $height,data-layout=>$layout,data-show-faces=>$faces'></div>