<a href="{$link}"
   rel="publisher" target="_top" style="text-decoration:none;display:inline-block;color:#333;text-align:center; font:13px/16px arial,sans-serif;white-space:nowrap;">
<span style="display:inline-block;font-weight:bold;vertical-align:top;margin-right:5px; margin-top:8px;">{$name}</span><span style="display:inline-block;vertical-align:top;margin-right:15px; margin-top:8px;">na</span>
<img src="//ssl.gstatic.com/images/icons/gplus-{$size|noescape}.png" alt="Google+" style="border:0;width:{$size|noescape}px;height:{$size|noescape}px;"/>
</a>