<g:{$badgeType|noescape} href="{$link}" n:attr='data-layout=>$layout,data-showcoverphoto=>$coverphoto,data-showtagline=>$tagline,data-theme=>$scheme,data-width=>$width' data-rel="author"></g:{$badgeType|noescape}>